for-all
for-all.1
for-all.pdf

# Generated README file.
README

*.d
*.o

# Test lists
list-*
list.*
*.list

# Autoconf/automake backup files
*~

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
src/.deps/
stamp-h1
